<nav class="navbar">
  <div class="container">
    <a href="https://stackable.tech" class="navbar-brand">
      <img src="/static/stackable-logo.png" alt="Stackable">
    </a>
    <ul class="navbar-nav d-none d-md-flex">
      <li class="nav-item">
        <a href="/" class="nav-link">CRD Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="operator-menu-button"  onclick="toggleMenu()">
          Operators
          <i class="fa fa-angle-down ml-5" aria-hidden="true"></i> <!-- ml-5= margin-left: 0.5rem (5px) -->
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="operator-menu" aria-labelledby="operator-menu-button">
          <a class="dropdown-item" href="/airflow-operator">Airflow Operator</a>
          <a class="dropdown-item" href="/druid-operator">Druid Operator</a>
          <a class="dropdown-item" href="/hbase-operator">HBase Operator</a>
          <a class="dropdown-item" href="/hdfs-operator">HDFS Operator</a>
          <a class="dropdown-item" href="/hive-operator">Hive Operator</a>
          <a class="dropdown-item" href="/kafka-operator">Kafka Operator</a>
          <a class="dropdown-item" href="/nifi-operator">NiFi Operator</a>
          <a class="dropdown-item" href="/spark-k8s-operator">Spark Operator</a>
          <a class="dropdown-item" href="/superset-operator">Superset Operator</a>
          <a class="dropdown-item" href="/trino-operator">Trino Operator</a>
          <a class="dropdown-item" href="/zookeeper-operator">ZooKeeper Operator</a>
          <a class="dropdown-item" href="/opa-operator">OPA Operator</a>
          <a class="dropdown-item" href="/commons-operator">Commons Operator</a>
          <a class="dropdown-item" href="/listener-operator">Listener Operator</a>
          <a class="dropdown-item" href="/secret-operator">Secret Operator</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<script src="/static/js/nav.js"></script>