<div class="container mt-md-20">
    <div class="content">
        <h1 class="content-title">Stackable Data Platform CRD Reference Documentation</h1>
        <select class="form-control w-md-400 w-sm-full mb-md-10 mb-5" onchange="handleSelect(this)">
            {{ $actual := .Tag }}{{ range $version := .PlatformVersions }}
            {{ if eq $version $actual }}
            <option value="/{{ $version }}" selected="selected">{{ $version }}</option>
            {{ else }}
            <option value="/{{ $version }}">{{ $version }}</option>
            {{ end }}
            {{ end }}
        </select>

        <p>
            Reference documentation for all CustomResourceDefinitions that are deployed by Stackable Data Platform
            operators.
            For more information read the <a href="https://docs.stackable.tech/home/stable/index.html">platform
                documentation</a>.
        </p>

        <div id="crds"></div>
    </div>
</div>

<script id="pageData" type="application/json">{{ . }}</script>
<script type="text/javascript">
    function handleSelect(elm) {
        window.location = elm.value;
    }
</script>
<script src="/static/js/home.js"></script>
<style>
    #crds .sort-header {
        margin-left: 1rem;
    }

    #crds .sort-header:not(.sort-header-active) {
        opacity: 0.5;
    }
</style>