<!doctype html>
<html>

<head>
    <title>{{ .Page.Title }}</title>
    {{ template "_head" . }}
    <link rel="stylesheet" href="/static/root.css">
</head>

<body data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">

    <div class="page-wrapper {{if not .Page.DisableNavBar}}with-navbar{{end}}">
        <div class="sticky-alerts"></div>
        {{ if not .Page.DisableNavBar }}
        {{ template "_navbar" . }}
        {{ end }}
        <div class="content-wrapper">
            {{ yield }}
            {{ template "_footer" . }}
        </div>
    </div>
    {{ template "_bottom-scripts" . }}
</body>

</html>