<!doctype html>
<html lang="en">

<head>
    <title>{{ .Page.Title }}</title>

    <link rel="icon" type="image/png" href="/static/favicon.ico?v=1" />

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/root.css">
</head>

<body data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">

    <div class="page-wrapper {{if not .Page.DisableNavBar}}with-navbar{{end}}">
        <div class="sticky-alerts"></div>
        {{ if not .Page.DisableNavBar }}
        {{ template "_navbar" . }}
        {{ end }}
        <div class="content-wrapper">
            {{ yield }}
            {{ template "_footer" . }}
        </div>
    </div>
</body>

</html>