<div class="container">
    <div class="content">
        <h1 class="content-title">CRD Documentation: {{ .Repo }}</h1>
        <select class="form-control w-md-400 w-sm-full mb-md-10 mb-5" onchange="handleSelect(this)">
            {{ $actual := .Tag }}{{ $repo := .Repo }}{{ range $name := .Tags }}
                {{ if eq $name $actual }}
                <option value="/{{ $repo }}/{{ $name }}" selected="selected">{{ $name }}</option>
                {{ else }}
                <option value="/{{ $repo }}/{{ $name }}" >{{ $name }}</option>
                {{ end }}
            {{ end }}
        </select>
        <div id="crds"></div>
    </div>
</div>

<script type="text/javascript">
    function handleSelect(elm)
    {
       window.location = elm.value;
    }
</script>

<script id="pageData" type="application/json">{{ . }}</script>
<script src="/static/js/org.js"></script>

<style>
    #crds .sort-header {
        margin-left: 1rem;
    }

    #crds .sort-header:not(.sort-header-active) {
        opacity: 0.5;
    }
</style>