:root {
    /* colors */
    --color-white: #fff;
    --color-black: #000;
    --color-brand-primary: #1880bd;
    --color-brand-secondary: #b80069;
    --color-text: #182c3d;
    --color-text-semi-muted: #6d7c8b;
    --color-text-muted: #afbbc8;
    --color-background2: #f2f6fa; /* panels, borders, hover backgrounds */
    /* fonts */
    --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
    --body-font-size: 1.0625em; /* 17px */
    --body-font-size--desktop: 1.125em; /* 18px */
    --body-font-size--print: 0.9375em; /* 15px */
    --body-line-height: 1.15;
    --body-font-color: var(--color-text);
    --body-font-family: "Noto Sans", sans-serif;
    --body-font-weight-bold: 700;
    --monospace-font-family: "Noto Sans Mono", monospace;
    --monospace-font-weight-bold: 500;
    --header-font-family: "IBM Plex Mono", sans-serif;
    --header-font-family-weight: 600; /* semi-bold */
    /* navbar */
    --navbar-background: var(--color-white);
    --navbar-font-color: var(--color-text);
    /* footer */
    --footer-background: var(--color-white);
    --footer-font-color: var(--color-text);
    --footer-divider-color: var(--color-text-semi-muted);
    --footer-copyright-font-color: var(--color-text-muted);
    --footer-line-height: 1.6;

    /* original / halfmoon --- TO BE REMOVED */
    --color-brand-primary-light: #5da6d1;
    --color-brand-primary-very-light: #a3cce5;
    --color-brand-primary-dark: #115a84;
    --color-brand-primary-very-dark: #0a334c;
    --color-brand-primary-shadow-color: #74b3d7;
    --color-brand-primary-shadow-color-darker: #5da6d1;
    --primary-color: var(--color-brand-primary);
    --primary-color-light: var(--color-brand-primary-light);
    --primary-color-very-light: var(--color-brand-primary-very-light);
    --primary-color-dark: var(--color-brand-primary-dark);
    --primary-color-very-dark: var(--color-brand-primary-very-dark);
    --primary-box-shadow-color: var(--color-brand-primary-shadow-color);
    --primary-box-shadow-color-darker: var(--color-brand-primary-shadow-color-darker);
    --lm-link-text-color: var(--color-brand-primary);
}